/* Reset */

* {
    margin: 0;
    padding: 0;
}

/* Body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

/* Card */

.card_white {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 1rem ;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

/* QR code */

img {
    border-radius: 1rem;
    padding: .5rem;
}

/* Headings */

.main-heading {
    max-width: 320px;
    margin: .5rem 0;
    font-weight: 600;
    font-size: 1.6rem;
    color: hsl(218, 44%, 22%);
}

/* Paragraphs */

p {
    width: 250px;
    margin: 10px 0;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}